<header class="header">
  <img src="assets/images/logo.png" alt="Logo" class="logo" />
  <div *ngIf="currentUser$ | async as currentUser; else guestHeader" class="user-info">
    <app-coins [coins]="currentUser | totalWalletBalance"></app-coins>
    <span class="user-name">{{ currentUser.name }}</span>
    <app-avatar
      [url]="currentUser.avatar"
      [placeholder]="currentUser.name"
    ></app-avatar>
  </div>
</header>

<ng-template #guestHeader>
  <h1 class="welcome-message">Welcome to RollaCosta! Please login to open some shiny lootbox!</h1>
  <button
    mat-raised-button
    color="accent"
    class="login-button"
    (click)="login()"
  >
    Login
  </button>
</ng-template>
