<button mat-icon-button class="return-btn" routerLink="..">
  <mat-icon>keyboard_arrow_left</mat-icon>
</button>

<mat-card class="box-card" *ngIf="box$ | async as box">
  <mat-card-header>
    <h2 class="loot-box-name">{{ box.name }}</h2>
  </mat-card-header>
  <mat-card-content>
    <img [src]="box.iconUrl" class="loot-box-img" alt="Loot box image" />
  </mat-card-content>
  <mat-card-footer>
    <app-coins [coins]="box.cost"></app-coins>
    <button
      mat-raised-button
      color="accent"
      *ngIf="isUserLoggedIn$ | async"
      [disabled]="!(isUserFundsSufficient$ | async)"
      (click)="openBox(box.id)"
    >
      Open
    </button>
  </mat-card-footer>
</mat-card>
